body {
  background: url("/src/background.jpg");
}
* {
  font-family: "Patrick Hand", Georgia;
  font-weight: bold;
}
h1 {
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.cspit {
  position: absolute;
  top: 0cm;
  right: 0cm;
  z-index: -5;
}

.charusat {
  position: absolute;
  top: 0.6cm;
  left: 0cm;
  z-index: -5;
}
